# Ignore log files and build folders
*.log
dist/
build/
.idea/
.env
__pycache__/
*.pyc
.venv/
synthetic-data/vectorstore/
synthetic-data/vectorstore_hype/
synthetic-data/vectorstore_latest_runbooks/
synthetic-data/vectorstore_hype_latest_runbooks/